MONGODB_URI=mongodb://localhost:27017/skillnest
BETTER_AUTH_SECRET=my_super_secret_string_for_better_auth
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=dummy_google_client_id
GOOGLE_CLIENT_SECRET=dummy_google_client_secret
